
@import 'fonts';
@import 'mixin';
@import 'colors';
@import 'backgrounds';


.backgroundCat::before {
    content: "";
    position: absolute;
    display: block;
    background: url(../img/pictures/block_9_bg_cat.png) no-repeat;
    background-size: 100%;
    width: 374px;
    height: 515px;
    bottom: -50px;
    right: -60px;
    z-index: 10;
    @include m-desk{
        right: -80px;
        width: 374px;
        height: 415px;
    }
    @include sm-desk{
        right: -60px;
        width: 324px;
        height: 345px;
    }
}



.block_6_text_2_wrap:before {
    content: "";
    display: block;
    background: url("../img/pictures/block_6_text_2_img.png") no-repeat;
    position: absolute;
    bottom: -130px;
    left: -165%;
    width: 1233px;
    height: 1106px;
}
@media (max-width: 575px){
.block_6_text_2_wrap:before {
    content: "";
    display: block;
    background: url("../img/pictures/block_6_text_2_img.png") no-repeat;
    background-size: 100%;
    position: absolute;
    top: -500px;
    left: -155%;
    width: 950px;
    height: 956px;
    visibility: initial;
}}

.block_3{
    a{
        color: $white !important;
        @include mobile {
            color: $black !important;
        }
    }
}

.block3_2Rows_item{
    margin-left: auto;
    margin-right: auto;
    
    @include mobile{
        margin: 20px 0 !important;
    }
}

// .block3_2Rows::before{
//     bottom: -200px;
//     @include sm-desk{
//         bottom: -100px;
//     }
// }
.block3_2Rows::before{
    bottom: -200px;
    @include sm-desk{
        bottom: -100px;
    }
    @include mobile{
        top: 250px;
    }
}

@media screen and (max-width: 1280px) and (min-width: 1025px){
    .block3_2Rows::before {
        bottom: -200px;
    }
    }

@media screen and (max-width: 575px){
.block_3_item {
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    margin: 20px 0;
    box-shadow: 0px 21px 58.46px 20.54px rgba(0, 4, 2, 0.09);
}
}


.block_4:before {
    content: "";
    display: block;
    background: url("../img/pictures/block_4_bg_1.png") no-repeat center;
    width: 100%;
    max-width: 2070px;
    height: 1160px;
    position: absolute;
    left: 0;
    top: 200px;
    right: 0;
    bottom: -50px;
    margin: 0 auto;
    z-index: 1;
}

@media (max-width: 575px){
.block_4:before {
    top: 150px;
    background-size: 330% !important;
    background-position: top center;
    visibility: initial;
}
}

.block_4_kiselev {
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}


.block_4_kiselev:before {
    content: "";
    display: block;
    width: 280px;
    height: 322px;
    background: url("../img/pictures/block_4_bg_2.png") no-repeat top center;
    position: absolute;
    bottom: 0;
    left: 0;
    top: -350px;
}

.kiselev{
    background-color: $blueLine;
    border-radius: 30px;
    padding: 15px;
    box-shadow: 0 12px 32px rgba(117, 120, 130, 0.5);
    
}

@media (max-width: 575px){
.block_4_kiselev:before {
    content: "";
    display: block;
    width: 120px;
    height: 140px;
    background: url("../img/pictures/block_4_bg_2.png") no-repeat top center;
    background-size: 100%;
    position: absolute;
    top: -140px;
    left: -50px;
    visibility: initial;
}
}