@font-face{
    font-family: 'UniNeueBlack';
    src: url('../fonts/UniNeueBlack.ttf');
}

@font-face{
    font-family: 'UniNeueLight';
    src: url('../fonts/UniNeueLight.ttf');
}

@font-face{
    font-family: 'UniNeueRegular';
    src: url('../fonts/UniNeueRegular.ttf');
}