@font-face{
    font-family: 'UniNeueBlack';
    src: url('../fonts/UniNeueBlack.ttf');
}

@font-face{
    font-family: 'UniNeueLight';
    src: url('../fonts/UniNeueLight.ttf');
}

@font-face{
    font-family: 'UniNeueRegular';
    src: url('../fonts/UniNeueRegular.ttf');
}

@font-face {
    font-family: 'Uni Neue Book';
    src: url('../fonts/UniNeueBook-Italic.eot');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeueRegular.eot');
    font-weight: 500;
    font-style: normal;
}